/* define classes */
* {
  margin: 0;
}
.set-content {
  /* padding: 0 1rem !important; */
}
.border-color {
  border: 3px solid red;
  margin: 10px 0 25px 10px;
}
.center {
  text-align: center;
}
/* main welcome */
.main {
  line-height: 30px;
}
.main-section {
  padding: 0 13rem 5rem 13rem;
  position: relative;
}
.welcome_Section h1 {
  padding: 10px 0;
}
.welcome_Section a {
  color: #cd6b8b;
}
.title {
  position: absolute;
  left: 7rem;
  bottom: 4.5rem;
  color: red;
}
/* feature */
.feature .set-title {
  margin: 2.5rem 0 3rem 6.5rem;
  color: red;
}
.feature-flex {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.feature-content {
  width: 30%;
  padding: 0 5rem 2rem 5rem;
}
.feature-content h2 {
  color: #423b3b;
  margin-bottom: 15px;
}
.feature-content button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 30px;
  cursor: pointer;
  margin-top: 15px;
}
