/* Welcome Section  */
.main-section{
    border: 3px solid red;
    margin-left: 10px;
}
.welcome_Section {
    text-align: center;
}
.welcome_Section p{
    margin:auto;
    line-height: 25px;
    width: 70%;
}
#welcome_Section a:link{
    color:#cd6b8b;
}
.main-section .container .welcome-title {
    position: relative;
    left: 8%;
    bottom: 20px;
}
.welcome-title h1{
    color: red;
}
/* Feature Section */
.feature{
    border: 3px solid red;
    margin: 20px 0 20px 10px;
}
.feature .feature-title{
    left: 8%;
    position: relative;
}
.feature .feature-title h1{
    color: red;
}
.feature .feature-section .feature-flex{
    align-items: start;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    line-height: 30px;
    margin: auto;
    text-align: center;
    width: 80%;
}
.feature-content h2{
    color: #423b3b;
}
.feature-content{
    margin: 15px 0;
}
.feature-content button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 30px;
}
.feature-content button:hover{
    background-color:#008CBA;
    cursor: pointer;
}