$see_green: #629c7b;
$light_blue: #8e9cab;
$blue: #061f66;
$white: #ffffff;
$gray: gray;
$aqua_light: aquamarine;
$blue_dark: #061f66;
$light_blue: #8e9cab;
$aqua: aqua;
$light_grey: #f5f5f5;
$aqua_light: aquamarine;
$dark_grey: #585151;
$light_blue: #afacac;
$dark_blue: #39466a;
$light_green: #579371;
$light_white: #bbb;
$light_sky: #8e9cab;
$white: #ffffff;
$blue: #111942;
$dark_grey: #322f2f;
$aqua: aqua;
$see_green: #6f9f84;
$white: #ffffff;
