// icon position function
$blue_dark: #061f66;
$light_blue: #8e9cab;
$aqua: aqua;

@mixin icon-position {
  bottom: 41px;
  position: absolute;
  right: 0;
}
// icon size color
@mixin icon-general {
  font-size: 12px;
  color: $light_blue;
}
form {
  padding: 1rem 0;
  .left-input-field {
    position: relative;
    input {
      display: block;
      border: none;
      outline: none;
      border-bottom: 1px solid $aqua;
      width: 100%;
      padding: 5px 0;
      margin: 1rem 0;
    }
    ::placeholder {
      color: $blue_dark;
      font-weight: bold;
    }
    .edit {
      @include icon-position;
      @include icon-general;
      cursor: pointer;
    }
    .addition {
      @include icon-position;
      @include icon-general;
      cursor: pointer;
    }
    label {
      @include icon-general;
    }
  }
}
