@import "Variables.scss";
// icon size color
@mixin icon-general {
  font-size: 12px;
  color: $light_blue;
}
.font {
  font-size: 15px;
}
.left-main {
  padding: 1rem;
  .left-container {
    padding: 2rem;
    .left-center {
      display: flex;
      padding-bottom: 2rem;
      .left-heading {
        padding: 18px 30px;
        font-size: 80px;
        background-color: $see_green;
        color: $white;
        border-radius: 8px;
      }
      .left-content {
        line-height: 25px;
        padding: 15px 25px;
        flex: 1;
        h2 {
          color: $gray;
          word-spacing: 10px;
          .left-name {
            color: $aqua_light;
            font-size: 16px;
          }
        }
        a {
          display: block;
          @include icon-general;
          i {
            padding: 4px 5px 0 10px;
            color: $blue;
          }
        }
        p {
          @include icon-general;
        }
      }
      .left-edit {
        a {
          @include icon-general;
        }
      }
    }
  }
}
