@import "/src/Variable-Global.scss";
.overlay {
  background-color: $light_grey;
}
@mixin icon-size {
  font-size: 13px;
}
@mixin icon-general {
  font-size: 12px;
  color: $light_sky;
}
aside {
  line-height: 25px;
  padding: 1rem;
  .right-container {
    padding: 20px;
    margin-bottom: 20px;
    .right-title {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      h4 {
        font-size: 14px;
        color: $aqua_light;
      }
      a {
        @include icon-general;
      }
    }
    .right-content-top {
      padding: 15px 0;
      p {
        @include icon-size;
        color: $dark_grey;
      }
    }
  }
  span {
    color: $light_blue;
  }
  .right-content-bottom {
    padding: 10px 0;
    a {
      display: block;
      color: $dark_blue;
      @include icon-size;
      i {
        padding-right: 10px;
      }
      span {
        color: $light_white;
      }
    }
  }
}
