@import './Variables.scss';
.overlay{
    background-color:$white !important;
}
@mixin icon-size {
    font-size: 12px;
}
@mixin  icon-general {
    font-size: 12px;
    color: $light_sky;
}
@mixin background{
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin-bottom: 20px;
}   
aside{
    width: 35%;
    line-height: 25px;
    .right-container{
       @include background; 
        background-color: $light_grey;
        .right-title{
            display: flex;
            justify-content:space-between;
            h4{
                font-size: 14px;
                color: $aqua_light;
            }
            a{
                @include icon-general;
            }
        }
        .right-content-top{
            padding: 15px 0;
            p{
                @include icon-size;
                color: $dark_grey;
            }
        }
    }
    span{
        color: $light_blue;;
        }
        .right-content-bottom{
            padding: 10px 0;
            a{
                display: block;
                color: $dark_blue;
                @include icon-size;
                span{
                    color:$dark_blue;
                }
                &:hover{
                    color: $light_green;
                    transition: all 0.3s linear;
                }
            }
        }

    }
